/* font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* font end  */

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Manrope", sans-serif;
}
/* header area style  */
header{
    max-width: 1140px;
    margin: 0 auto;
}
/* navbar style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu{
    display: flex;
    justify-content: space-evenly;
}