/* font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* font end  */

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Manrope", sans-serif;
}
/* header area style  */
header{
    max-width: 1140px;
    margin: 2.8rem auto 2.8rem auto;
}
/* navbar style  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu{
    display: flex;
    justify-content: space-evenly;
}
.navbar .menu ul{
    display: flex;
}
.navbar .menu ul li{
    list-style: none;
    margin-right: 3rem;
}
.navbar .menu ul li a{
    text-decoration: none;
    transition: 0.3s;
}
.navbar .menu ul li a:hover{
    text-decoration: underline;
    color: #e6246b;
}
.navbar .menu ul li a:active{
    color: #1100ff;
}